h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
    cursor: pointer;
    color: red;
    font-weight: bold;
    text-align: center;
}
.borrar-tweet span {
    pointer-events: none;
    display: block;
    font-size: 10px;
    color: #333;
}

.borrar-tweet:hover span {
    color: #33C3F0;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

/* my styles */
#lista-tweets  {
    list-style: none;
}
.lista-tweets__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 3rem;
}

.lista-tweets__item:not(:last-child) {   
    border-bottom: 1px solid #eeeeee;
}